{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>EaaS</title>

    <link rel="shortcut icon" href="{% static 'img/facio.ico' %}" type="image/x-icon">
    {% include '_head_css_js.html' %}
    <link href="{% static 'css/jumpserver.css' %}" rel="stylesheet">
    {% block custom_head_css_js %} {% endblock %}
</head>

<body>
<div id="wrapper">
    {% include '_left_side_bar.html' %}
    <div id="page-wrapper" class="gray-bg">
        {% include '_header_bar.html' %}
        {% include '_message.html' %}
        {% block first_login_message %}
            {% if user.is_authenticated and user.is_first_login %}
            <div class="alert alert-danger" style="margin: 20px auto 0px">
                {% url 'users:user-first-login' as first_login_url %}
                {% blocktrans %}
                你的信息不完善，请点击 <a href="{{ first_login_url }}"> 这个链接 </a>来完善你的信息.
                {% endblocktrans %}
            </div>
            {% endif %}
        {% endblock %}
        {% block update_public_key_message %}
            {% if user.is_authenticated and not user.is_public_key_valid %}
            <div class="alert alert-danger" style="margin: 20px auto 0px">
                {% url 'users:user-pubkey-update' as user_pubkey_update %}
                {% blocktrans %}
                你的 ssh-public-key 已经过期. 请点击 <a href="{{ user_pubkey_update }}"> 这个链接 </a>更新你的 ssh-public-key.
                {% endblocktrans %}
            </div>
            {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
        {% include '_footer.html' %}
    </div>
</div>

</body>
{% include '_foot_js.html' %}
{% block custom_foot_js %} {% endblock %}
</html>
